* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: #2a2438;
  --light: #dbd8e3;
  --secondary: #5c5470;
  --secondary-light: #6a627de6;
  --primary: #352f44;
  --gradient: linear-gradient(180deg, hsl(258, 22%, 18%), hsl(257, 18%, 23%));
}
body {
  font-family: 'Poppins', sans-serif;
  color: var(--light);

  background-color: var(--bg);

  background-repeat: no-repeat;
}
h1 {
  font-size: 2rem;
  color: var(--bg);
}
/* .container {
  min-height: 100vh;
  width: 100%;
  display: grid;
} */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: var(--secondary-light);
  border-bottom: 2px solid var(--light);
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}
a:hover {
  color: var(--bg);
}
.wrapper {
  padding: 30px;
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper-content {
  padding: 20px;
  /* margin: 50px auto; */
}
span {
  color: var(--secondary-light);
  text-shadow: 2px 2px 2px var(--light);
}
h2 {
  font-size: 3.75rem;
}
p span {
  font-size: 21px;
  text-shadow: 0px var(--light);
  font-weight: 600;
  text-decoration: underline;
}
.wrapper-img img {
  object-fit: cover;
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(143, 142, 142, 0.297),
    0 5px 8px 0 rgba(0, 0, 0, 0.694);
}
